* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  line-height: 1.7;

  >:last-child {
    margin-bottom: 0 !important;
  }
}

img {
  margin: 0 0.2em;
  max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 1.275em;
  margin-bottom: .85em;
  font-weight: 700
}

h1, h2, h3, h4, h5 {
  page-break-after: avoid;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.75em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.25em;
}

h5, h6 {
  font-size: 1em;
}

h6 {
  color: #777;
}

a {
  color: #4d75c2;
  text-decoration: none;
  background: 0 0;
}

code, pre {
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  direction: ltr;
  border: none;
  color: inherit;
}

pre {
  overflow: auto;
  word-wrap: normal;
  margin: 0 0 1.275em;
  padding: .85em 1em;
  background: #f7f7f7;

  >code {
    display: inline;
    max-width: initial;
    padding: 0;
    margin: 0;
    overflow: initial;
    line-height: inherit;
    font-size: .85em;
    white-space: pre;
    background: 0 0;

    &:before, &:after {
      content: normal;
    }
  }
}

code {
  padding: .2em;
  margin: 0;
  font-size: .85em;
  background-color: #f7f7f7;

  &:before, &:after {
    letter-spacing: -.2em;
    content: "\00a0";
  }
}

table {
  display: table;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  overflow: auto;
}

td, th {
  padding: 6px 13px;
  border: 1px solid #ddd;
}

tr {
  background-color: #fff;
  border-top: 1px solid #ccc;
}

th {
  font-weight: 700;
}

ol, ul {
  padding: 0 0 0 2em;
  margin: 0 0 .85em;

  // ol, ul {
  //   margin-top: 0;
  //   margin-bottom: 0;
  // }
}

ol ol {
  list-style-type: lower-roman;
}

blockquote {
  margin: 0 0 .85em;
  padding: 0 15px;
  color: #858585;
  border-left: 4px solid #e5e5e5;

  &:first-child {
    margin-top: 0;
  } 

  &:last-child {
    margin-bottom: 0;
  }
}

dl {
  padding: 0;

  dt {
    padding: 0;
    margin-top: .85em;
    font-style: italic;
    font-weight: 700;
  }

  dd {
    padding: 0 .85em;
    margin-bottom: .85em;
  }
}

dd {
  margin-left: 0;
}

sup {
  vertical-align: super;
  font-size: smaller;
}

sub {
  vertical-align: sub;
  font-size: smaller;
}

em {
  font-style: italic;
}

strong, b {
  font-weight: bold;
}

hr {
  height: 1px;
  margin: 2.5em 0;
  background-color: #ccc;
  border: none;
}

blockquote, code, figure, img, pre, table, tr {
  page-break-inside: avoid;
}

blockquote, dl, ol, p, table, ul {
  margin-top: 0;
  margin-bottom: .4em;
}