body * {
  font-family: sans-serif;
  line-height: 1.7; }

h1, h2, h3, h4, h5, h6 {
  margin: 1.5em 0 0.5em; }
  h1 + p, h2 + p, h3 + p, h4 + p, h5 + p, h6 + p {
    text-indent: 0; }

h1 + h1, h1 + h2, h1 + h3, h1 + h4, h1 + h5, h1 + h6, h2 + h1, h2 + h2, h2 + h3, h2 + h4, h2 + h5, h2 + h6, h3 + h1, h3 + h2, h3 + h3, h3 + h4, h3 + h5, h3 + h6, h4 + h1, h4 + h2, h4 + h3, h4 + h4, h4 + h5, h4 + h6, h5 + h1, h5 + h2, h5 + h3, h5 + h4, h5 + h5, h5 + h6, h6 + h1, h6 + h2, h6 + h3, h6 + h4, h6 + h5, h6 + h6 {
  margin-top: 0.8em; }

h1 {
  font-size: 1.5em; }

h2 {
  font-size: 1.4em; }

h3 {
  font-size: 1.3em; }

h4 {
  font-size: 1.2em; }

h5 {
  font-size: 1.1em; }

h6 {
  font-size: 1em; }

p {
  font-size: 0.95em;
  margin: 0;
  text-indent: 2em;
  text-align: justify; }

blockquote {
  border: none;
  color: inherit;
  padding: 0 0 0 2em;
  margin: 1em 0; }
  blockquote p {
    line-height: 1.4;
    font-size: 0.85em;
    text-indent: 0; }
  blockquote p:not(:last-child) {
    margin-bottom: 0.5em; }
  blockquote p:first-child {
    text-indent: 0; }

sup {
  position: relative;
  top: -0.4em;
  vertical-align: top; }

.journal-info {
  border-bottom: 1px #383838 solid; }
  .journal-info p {
    text-indent: 0; }
  .journal-info p:nth-child(1) {
    float: left; }
  .journal-info p:nth-child(2) {
    text-align: right; }

.title {
  margin: 3.5em 0;
  text-align: center; }
  .title * {
    text-align: center; }
  .title.ko p:last-child {
    letter-spacing: 0.5em; }
    .title.ko p:last-child * {
      letter-spacing: normal; }
  .title.sub-title p:nth-child(2) {
    font-size: 1.1em; }
  .title p:last-child {
    text-align: right;
    margin-top: 2em; }

.footnote {
  margin-top: 5em;
  border-top: 1px #383838 solid;
  padding: 1em 0;
  font-size: 0.85em; }
  .footnote blockquote {
    margin: 0;
    padding: 0; }

.reference {
  padding-left: 2em;
  text-indent: -2em; }
  .reference p {
    text-indent: inherit;
    text-align: left; }

.signature {
  text-align: right; }
